.global {
    --clr-White: hsl(0, 0%, 100%);
    --clr-Light-gray: hsl(212, 45%, 89%);
    --clr-Grayish-blue: hsl(220, 15%, 55%);
    --clr-Dark-blue: hsl(218, 44%, 22%);
    background-color: var(--clr-Light-gray);
}

.title {
    font-size: 5rem;
    font-weight: 700;
    display: block;
    text-align: center;
    padding: 10rem 0 2rem 0;
    color: var(--clr-Dark-blue);
}

.projects {
    font-family: "Outfit", sans-serif;
    color: var(--clr-Grayish-blue);
}

.project-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.project__item {
    width: 30rem;
    height: 45rem;
    background-color: var(--clr-White);
    border-radius: 2rem;
}

.project__image {
    display: block;
    width: 100%;
    border-radius: 3rem;
    padding: 1.2rem;
    min-height: 80%;
}

.project__info {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
}

.project__title {
    font-weight: 700;
    color: var(--clr-Dark-blue);
    padding-bottom: 1rem;
}

.project__desc {
    font-size: 1rem;
    font-weight: 400;
}
