@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-weight: normal;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(234, 29%, 20%);
  overflow: hidden;
}

#spEmailErrorMessage,
.label {
  color: hsl(235, 18%, 26%);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.8rem 0 0.5rem 0;
  display: block;
}

#spEmailErrorMessage {
  color: hsl(4, 100%, 67%);
  display: none;
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
}

.input {
  color: hsl(231, 7%, 60%);
  font-size: 1.2rem;
  font-family: inherit;
  width: 100%;
  height: 4rem;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid currentColor;
  padding-left: 1.5rem;
  display: block;
}
.input:focus {
  color: hsl(234, 29%, 20%);
}
.input:not(:placeholder-shown) {
  color: hsl(234, 29%, 20%);
}

.btn {
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  background-color: hsl(234, 29%, 20%);
  height: 4rem;
  border: 0;
  border-radius: 0.5rem;
  width: 100%;
  margin: 1rem 0;
}
.btn:hover, .btn:active {
  background: linear-gradient(90deg, rgb(248, 80, 120) 0%, rgb(248, 103, 57) 100%);
}

.newsletter {
  font-size: 1.6rem;
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
}
.newsletter__container {
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 2rem;
}
.newsletter__image img {
  content: url(../assets/images/illustration-sign-up-mobile.svg);
  width: 100%;
}
.newsletter__form {
  color: hsl(231, 7%, 60%);
  padding: 2rem 1rem;
  max-width: 38rem;
}
.newsletter__title {
  font-size: 4rem;
  color: hsl(235, 18%, 26%);
  font-weight: 700;
  padding: 1.5rem 0;
}
.newsletter__desc {
  color: hsl(235, 18%, 26%);
  padding: 1.5rem 0 0.5rem 0;
}
.newsletter__email {
  position: relative;
}
.newsletter__input.has-error {
  color: hsl(4, 100%, 67%);
  background-color: hsla(4, 100%, 67%, 0.2);
  border: 1px solid currentColor;
}
@media (min-width: 768px) {
  .newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 93rem;
    margin-top: 15rem;
    border-radius: 2rem;
  }
  .newsletter__container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    max-width: none;
    justify-content: space-between;
  }
  .newsletter__title {
    font-size: 5.5rem;
  }
  .newsletter__image {
    padding: 1.5rem;
  }
  .newsletter__image img {
    border-radius: 2rem;
    height: 100%;
    content: url(../assets/images/illustration-sign-up-desktop.svg);
  }
  .newsletter__form {
    margin: auto;
  }
}

.product {
  color: hsl(235, 18%, 26%);
  font-size: 1.6rem;
  padding: 0.5rem 0 1.5rem 0;
}
.product__item {
  display: flex;
  align-items: center;
}
.product__item img {
  width: 2.5rem;
  height: 2.5rem;
  padding-right: 1rem;
}

.news-dialog {
  padding: 0 2rem;
  max-width: 50rem;
  background-color: hsl(0, 0%, 100%);
  display: none;
}
.news-dialog__image {
  display: block;
  padding: 10rem 0 2rem 0;
}
.news-dialog__title {
  font-size: 5rem;
  font-weight: bold;
  color: hsl(234, 29%, 20%);
}
.news-dialog__desc {
  font-size: 1.6rem;
  padding: 3rem 0 22rem 0;
}
.news-dialog__email {
  font-weight: 700;
}
.news-dialog__dismiss {
  margin-bottom: 4rem;
}
@media (min-width: 376px) {
  .news-dialog {
    max-height: 52rem;
    margin: 23.5rem auto;
    border-radius: 2rem;
  }
  .news-dialog > * {
    max-width: 30rem;
    margin-left: 8rem;
  }
  .news-dialog__desc {
    font-size: 1.6rem;
    padding: 3rem 0 4rem 0;
  }
}

.fade-out-bck {
  -webkit-animation: fade-out-bck 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fade-out-bck 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fade-in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/*# sourceMappingURL=style.css.map */
